*{
    margin: 0;
    padding:0;
}
.fix-width{
    max-width: 1100px;
    margin: auto;
}
.clear::after{
    content: "";
    clear: both;
    display: block;
}
.left{
    float: left;

}
.right{
    float: right;
}
img{
    max-width: 100%;
    width: 100%;
}
a{
    text-decoration: none;
}body{
    font-family: 'Roboto', sans-serif;
}

/* header */
.header {
	
}
.header-left{
    width: 30%;
}
.header-left a{}
.header-left a h2 {
	font-size: 38px;
	padding: 25px 0;
    color: #4272d7;
}
.header-right{
    width: 70%;
}
.header-right ul{
    text-align: right;
}
.header-right ul li{
    display: inline-block;
}
.header-right ul li a {
	display: inline-block;
	padding: 39px 20px;
	color: #737272;
}
.header-right ul li a:hover{}

/* banner */
.banner{
    background: url(https://i.ibb.co/pdVwXSn/190153210-1434016676932821-6215580788557941244-n.jpg) no-repeat center center;
    background-size: cover;
    padding:100px;
    position: relative;
    
}

.banner-content{
    text-align: center;
    color: #fff;
}
.banner-content h4 {
	font-size: 35px;
	font-weight: 300;
}
.banner-content h1 {
	font-size: 71px;
	text-transform: uppercase;
}
.banner-content a {
	background: #4272d7;
	color: #fff;
	padding: 10px 20px;
	display: inline-block;
	font-size: 20px;
	text-transform: capitalize;
}
/* video */
.video{
    padding: 50px 0;
}
.video-left{
    width: 50%;
}
.video-right{
    width: 50%;
    margin-top: 47px;
}
article h2{
    margin-bottom: 15px;
}
article p{
    margin-bottom: 15px;
    color: #737272;
}
/* contact */
.contact{
    padding: 50px 0;
    background-color: #f5f5f5;
}
.contact-left{
    width: 40%;
}
details summary{}
details p{}
.contact-right{
    width: 60%;

}
.contact-right form {
	margin-left: 112px;
}
.contact-right form input {
	display: block;
	margin-bottom: 13px;
	width: 381px;
	border-radius: 6px;
	border: 1px solid #a6a3a3;
	padding: 10px;
}
.btn {
	width: 100px !important;
}
/* footer */

.footer{
    background-color: #171a21;
    padding: 50px 0
}
.footer-content{
    text-align: center;
    color: #fff;
}
.footer-content p{}